.making {
  width: 81.25%;
  min-width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #ececec;
}

.making__wrapper {
  margin-top: 24px;
}

.making__title {
  width: 170px;
  position: relative;
  margin-left: 33.8%;

  svg {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    top: 6px;
    left: -55px;
    fill: #63d1bb;
  }
}

.making__video {
  margin-top: 24px;
  position: relative;

  img {
    width: 100%;
    background-color: #a0bdb9;
  }
}

.making__play {
  content: "";
  position: absolute;
  width: 102px;
  height: 78px;
  background-image: url("../img/icon-play.svg");
  background-size: cover;
  top: calc(50% - 39px);
  left: calc(50% - 51px);
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.6;
    transform: scale(0.8);
  }
}

.making__description {
  margin-left: 33px;
  margin-top: 22px;
  width: 73.8%;
  font-size: 13px;
  font-weight: 400;
}

.making__button {
  width: 73.8%;
  margin: 24px auto 33px auto;
  font-size: 17px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .making {
    width: 87%;
    margin: -5px auto 0 auto;

    &:hover {
      box-shadow: 0 5px 10px 0 #ececec;
    }
  }

  .making__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .making__video {
    width: 668px;
    min-height: 455px;
    margin: 0 auto;
  }

  .making__title {
    font-size: 20px;
    width: 250px;
    margin-left: 15.7%;
    margin-top: 34px;
    order: 2;

    svg {
      top: -4px;
      left: -64px;
    }
  }

  .making__description {
    width: 87.7%;
    margin-top: 14px;
    margin-left: 6%;
    font-size: 15px;
    line-height: 30px;
    order: 3;
  }

  .making__button {
    width: 87.4%;
    margin-top: 35px;
    margin-bottom: 45px;
  }
}

@media (min-width: 1150px) {
  .making {
    position: relative;
    width: 91.3%;
    min-height: 455px;
    max-width: 1350px;
    margin: 1px auto 105px auto;
  }

  .making__title {
    width: 220px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: 6.7%;
    margin-top: 95px;
    order: 2;

    svg {
      top: -54px;
      left: 43px;
    }
  }

  .making__video {
    width: 682px;
    order: 1;
    margin: -1px 0 0 0;
  }

  .making__description {
    margin-left: 72.4%;
    width: 288px;
    margin-top: -284px;
    order: 3;
  }

  .making__button {
    position: absolute;
    right: 5.5%;
    bottom: 15px;
    width: 21.9%;
  }
}
