.page-footer {
  width: 100%;
  margin: 38px auto 0 auto;
  background-color: #f1f1f1;

  &--within {
    margin-top: 58px;
  }

  &--form {
    margin-top: 56px;
  }
}

.page-footer__wrapper {
  padding-top: 30px;
}

.page-footer__list {
  list-style: none;
  margin: 0 auto;
  padding: 0 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 45%;
  min-width: 140px;
}

.page-footer__item {
  &--fb {
    margin-top: -5px;
  }
}

.page-footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 87%;
  box-sizing: border-box;
  padding: 9px 13.46%;
  margin: 15px auto 0 auto;
  border-top: 1px solid #ececec;
}

.page-footer__studio {
  font-size: 19px;
  line-height: 18px;
  margin-left: 3px;
}

.page-footer__logo-mishka {
  display: none;
}

.page-footer__logo {
  margin-top: 14px;
  fill: #63d1bb;
  margin-right: 4px;
}

@media (min-width: 768px) {
  .page-footer {
    padding: 0;
    margin-top: -17px;
    position: relative;

    &--within {
      margin-top: -8px;
    }

    &--form {
      margin-top: -20px;
    }
  }

  .page-footer__logo-mishka {
    display: block;
    min-width: 102px;
    transform: scale(1.45);

    &:hover {
      fill: #63d1bb;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__wrapper {
    width: 87%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 53px 0 47px 0;
    justify-content: space-between;
  }

  .page-footer__list {
    width: 22%;
    padding-left: 85px;
    margin-top: 10px;
  }

  .page-footer__item {
    svg {
      &:hover {
        fill: #63d1bb;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .page-footer__bottom {
    margin: -9px 0 0 0;
    width: 27.7%;
    padding: 0;
    border: none;

    &:hover {
      .page-footer__logo {
        fill: #46c1ae;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__logo {
    margin-right: 0;
  }
}

@media (min-width: 1250px) {
  .page-footer--index {
    margin-top: 30px;

    .page-footer__wrapper {
      width: 84%;
      max-width: 1350px;
    }

    .page-footer__bottom {
      width: 18.1%;
    }

    .page-footer__list {
      width: 13.8%;
      padding-left: 88px;
    }

    .page-footer__studio {
      margin-left: 5px;
    }
  }
}

@media (min-width: 1150px) {
  .page-footer {
    &--within {
      margin-top: -75px;

      .page-footer__wrapper {
        width: 91.3%;
        max-width: 1350px;
      }

      .page-footer__bottom {
        width: 18%;
      }

      .page-footer__list {
        width: 13.8%;
      }
    }

    &--form {
      margin-top: -27px;
    }
  }
}
