.products-item {
  font-size: 15px;
  font-weight: 400;
  width: 81.25%;
  padding: 0 9.375%;
  min-width: 260px;
}

.products-item__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 5px;
}

.products-item__item-wrapper {
  width: auto;
  margin-top: 22px;
}

.products-item__description {
  font-size: 15px;
  font-weight: 400;
  color: #444444;
}

.products-item__features {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  width: 100%;
  border-collapse: collapse;
}

.products-item__string {
  border-bottom: 1px solid #ececec;
}

.products-item__cols {
  padding: 10px 0;

  &:last-child {
    padding-left: 20px;
  }
}

.products-item__item-of-week {
  color: #63d1bb;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

.products-item__price {
  color: #444444;
  font-size: 17px;
  font-weight: 700;
}

.products-item__image {
  background-color: #f1f1f1;
  width: 260px;
  height: 315px;
  padding: 0;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
  }
}

.products-item__link {
  font-size: 17px;
  margin-top: 25px;
  padding: 12px 0 11px 0;
}

.products-item__buy {
  text-align: center;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .products-item {
    width: 87%;
    margin: 46px auto 0 auto;
    padding: 0;
  }

  .products-item__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 0 -4px;
  }

  .products-item__title-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .products-item__description {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }

  .products-item__image {
    width: 333px;
    min-height: 404px;
    margin: 8px 0 0 0;
  }

  .products-item__features {
    margin-top: 35px;
    margin-bottom: 150px;
  }

  .products-item__cols {
    &:last-child {
      padding-left: 0;
    }
  }

  .products-item__buy {
    width: 43.7%;
    margin-top: -130px;
    margin-left: -2px;
  }

  .products-item__price {
    font-size: 20px;
    line-height: 24px;
  }

  .products-item__link {
    margin-top: 34px;
    padding-bottom: 13px;
  }

  .products-item__item-of-week {
    margin: 0 16px 4px 0;
    line-height: 17px;
    width: 14%;
    text-align: center;
  }

  .products-item__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
  }

  .products-item__des-and-feat-wrapper {
    display: flex;
    flex-direction: column;
    width: 43.7%;
  }
}

@media (min-width: 1250px) {
  .products-item {
    width: 84%;
    max-width: 1350px;
    margin: 0 auto;
  }

  .products-item__title-wrapper {
    position: relative;
    z-index: 2;
    flex-direction: row-reverse;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-left: 39px;
    margin-top: 125px;
    width: 100%;
  }

  .products-item__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 4.28%;
  }

  .products-item__item-of-week {
    width: 8.6%;
    margin: 0 0 8px 0;
  }

  .products-item__item-wrapper {
    width: 83.35%;
    margin-left: auto;
    margin-top: -110px;
    align-items: flex-end;
  }

  .products-item__cols {
    padding-top: 8px;
    padding-bottom: 11px;
  }

  .products-item__image {
    width: 525px;
    min-height: 636px;
    margin-top: 0;
  }

  .products-item__des-and-feat-wrapper {
    margin-bottom: 217px;
    width: 33.37%;
    margin-top: 150px;
  }

  .products-item__features {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .products-item__buy {
    width: 33.37%;
    margin-left: 0;
  }
}
