.products-title {
  width: 100%;
  position: relative;
}

.products-title__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  width: 250px;
  padding: 74px 35px 35px 35px;
  margin: 0 auto;
  text-align: center;
}

.products-title__title-wrapper {
  background: #f9f9f9 no-repeat center -15px url("../img/hero-mobile@1x.jpg");
  min-height: 385px;
  min-width: 320px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: no-repeat url("../img/hero-mobile@2x.jpg");
    background-size: 1150px auto;
  }
}

.products-title__list-container {
  margin: -100px 0 0 0;
  padding: 0;
  list-style: none;
}

.products-title__image {
  display: block;
  background-color: #fcfcfc;
}

.products-title__list-item {
  a {
    min-width: 320px;
    box-sizing: border-box;
    font-size: 19px;
    color: white;
    background-color: #63d1bb;
    display: flex;
    justify-content: space-between;
    padding: 21px 9.3% 18px 9.3%;
  }

  span {
    position: relative;
    padding-top: 5px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
  }

  svg {
    margin-right: 7px;
    padding-top: 3px;
    fill: rgba(20, 144, 128, 0.5);
  }

  &--toys {
    a {
      background-color: #56c3b2;
      padding: 21px 9.3%;
    }

    svg {
      margin-right: -3px;
      padding-top: 0;
    }
  }
}

.products-title__link:nth-last-child(2) {
  background-color: red;
}

@media (min-width: 768px) {
  .products-title {
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -13px;
      width: 100%;
      height: 24px;
      background: center 0 url("../img/bg-zigzag-fill.svg");
    }
  }

  .products-title__title {
    width: 550px;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
    padding-top: 154px;
  }

  .products-title__title-wrapper {
    background: #f9f9f9 top center no-repeat url("../img/hero-tablet@1x.jpg");
    min-height: 745px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 2300px auto;
    }
  }

  .products-title__list-container {
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -118px 6.5% 0 6.5%;
  }

  .products-title__list-item {
    flex-grow: 1;

    a {
      font-size: 20px;
      line-height: 30px;

      &:hover {
        padding-bottom: 30px;
        margin-top: -5px;
      }
    }

    span {
      margin-left: 4px;
    }

    &--interior {
      a {
        padding: 23px 9.3% 25px 9.3%;
      }

      svg {
        margin-top: 4px;
        margin-right: 5px;
      }

      &:hover {
        a {
          background-color: #59d5bc;
        }

        svg {
          fill: rgba(20, 144, 128, 0.7);
        }
      }

      :active {
        span {
          opacity: 0.3;
        }

        svg {
          fill: rgba(20, 144, 128, 0.3);
        }
      }
    }

    &--toys {
      a {
        padding: 23px 9.3% 26px 9.3%;
      }

      svg {
        padding-top: 8px;
        margin-right: 3px;
      }

      &:hover {
        a {
          background-color: #46c1ae;
        }

        svg {
          fill: rgba(20, 144, 128, 0.7);
        }
      }

      &:active {
        span {
          opacity: 0.3;
        }

        svg {
          fill: rgba(20, 144, 128, 0.3);
        }
      }
    }
  }
}

@media (min-width: 1250px) {
  .products-title {
    &::after {
      height: 37px;
      bottom: -22px;
    }
  }

  .products-title__title {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
  }

  .products-title__list-container {
    margin: -119px auto 0 auto;
    width: 84%;
    max-width: 1350px;
    box-sizing: border-box;
  }

  .products-title__list-item {
    a {
      padding-left: 6.3%;
    }

    svg {
      margin-right: -13px;
    }
  }
}
